<header><h2>Nos Spécialités</h2>

        <div class="menu">
            <nav>
            <ul>
                <a href="accueil">accueil</a>
                <a href="menu">menu</a>
                <a href="equipe">equipe</a>
                <a href="contact">contact</a>
            </ul>
            </nav>
        </div>
</header>